.spacer{
  flex: 1 1 auto;
}

.logo{
  width: 150px !important;
  line-height: 37px;
}

:host .mat-toolbar-row{
  padding: 0%!important;
  height: 45px !important;
}

:host  .mat-toolbar-multiple-rows{
  flex-direction: column-reverse !important;
  min-height: 52px !important;
  background-color: #0f1016;
}


:host ::ng-deep .mat-icon{

  /* font-size: 28px !important; */
  overflow: inherit !important;
  /* line-height: inherit !important; */
}

.profile{
  /* position: relative; */
  /* display: inline-flex; */
  /* justify-content: space-between; */
  /* vertical-align: middle; */
  user-select: none;
  padding-right: 1rem;
}

.profile-icon{
  color: #f2f3f7;
  display: inline-flex;
  vertical-align: middle;
}
.profile span{
  color: aqua;
}
.menu-button{
  color: #f2f3f7;
  vertical-align: middle;
  line-height: initial !important;
}

.mat-menu-item:hover{
  background-color: aquamarine !important;
}

::ng-deep .mat-menu-panel{
  min-height: 0px!important;
}

::ng-deep .mat-menu-content:not(:empty){
  padding: 0%!important;
}

:host ::ng-deep .mat-icon-button{
  font-size: inherit !important;
}
