*{
  align-items: center;
}
td{
  border: 1px solid #ddd;
  padding: 10px;
}

tr:nth-child(odd){
  background-color: #CCC;
}
table{
  caption-side: top;
}
caption{
  text-align: center;
  font-size: 24px;
}

.close-button{
  float: right;
  top: -24px;
  right: -24px;
}

.close-icon{
  transition: 0.5s ease-in-out;
}

.close-icon:hover{
  transform: rotate(90deg);
  color: rgba(132, 5, 5, 0.788);
}

:host .mat-dialog-content{
  padding-left: 20%!important;
}
