/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.swal2-popup, .swal2-toast, .alert-container, .swal2-icon-error, .swal2-show {
  align-items: center;
  justify-items: center;

  font-size: 16px;
  color: #fff;
}

.timepicker-overlay{
  z-index: 10000000 !important;
}

.timepicker-backdrop-overlay{
  z-index: 10000000 !important;
}
